

body {
    background-color: #000;
    margin: 0; height: 100%; 
    overflow: hidden;
}

h1 {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 62px;
    font-weight: bold;
    color: #fff;
    text-align: center;
    font-family: 'Poppins', sans-serif;

}

p {
    margin-top: 0px;
    margin-bottom: 0px;
    font-size: 20px;
    font-family: 'Roboto', sans-serif;
    color: #fff;
    text-align: center;
}

.scrolling {
    z-index: -20;
    position: absolute;
    left: 0;
    top: 0;
    height: 4116px;
    width: 100%;
    background-image: url('images/smoke.png');
    background-size: 200%;
    animation: animatedBackground 120s linear infinite;

}


.content {
    margin-top: 10%;
}

.logo {
    margin-top: 0px;
    margin-bottom: 0px;
    text-align: center;
}

.logo img {
    width: 400px;
}

.form-div {
    text-align: center;
}

.subscribe {
    text-align: center;
}

.email-field {
    height: 35px;
    width: 280px;
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    font-weight: 300;
    background: none;
    border: none;
    border-bottom: 1px solid #fff;
    padding: 5px 10px;
    color: #fff;

}

.submit {
    background: none;
    border: 1px solid #18b46e;
    width: 150px;
    height: 38px;
    border-radius: 4px;
    color: #FFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    display: block;
    margin: 30px auto;

}

input:focus,
textarea:focus
 {
    border-bottom: 1px solid #18b46e;
    outline: none;
}

button {
    transition: background ease-in-out 0.3s;
}

button:focus {
    outline: none;
    background: #18b46e;

}

@keyframes animatedBackground {
	from { 
        background-position: 0 90%;
        transform: scaleX(1);
    }
	to { 
        background-position: 0 -100%;
        transform: scaleX(4.5);
    }
}

.space-100 {
    height: 100px;
}

.space-50 {
    height: 50px;
}

.space-30 {
    height: 30px;
}